[Unit]
Description=Watch circle-detector NTP signal and control timesyncd
After=systemd-timesyncd.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /run/circle-detector
ExecStart=/home/pi/Apps/color-detector-app/systemd/timesyncd-watcher.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
